/* Coming soon */
/*==============
  [00] Page General css
=================*/

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.loader-wrapper {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  z-index: 9;
  top: 0;
}

.loader {
  border: 16px solid #111;
  border-radius: 50%;
  border-top: 16px double #adf3ce;
  border-bottom: 16px double #adf3ce;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*==============
  [01] Page css
=================*/
.page-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.page-section .content-detail {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page-section .content-detail .sub-title, .page-section .content-detail .detail-text {
  display: block;
  color: #000;
  text-align: center;
}
.page-section .content-detail .sub-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
}
.page-section .content-detail #timer {
  padding: 30px 0;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}
.page-section .content-detail #timer .date-box {
  margin: 8px;
  padding: 10px;
  width: 85px;
  height: 85px;
  display: inline-block;
  background-color: #48cba4;
  font-size: 28px;
  font-weight: 600;
  z-index: 2;
  color: #fff;
  border-radius: 30px;
}
.page-section .content-detail #timer .text {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
.page-section .content-detail .hero-counter-desc {
  max-width: 900px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.page-section .content-detail .nav-details {
  padding: 15px 0;
  z-index: 5;
}
.page-section .content-detail .nav-details form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-section .content-detail .nav-details input {
  width: 300px;
  margin: 5px;
  padding: 8px 15px;
  color: #777;
  border: 1px solid #48cba4;
  border-radius: 30px;
  font-size: 14px;
  background-color: transparent;
  outline: transparent;
}
.page-section .content-detail .nav-details .btn {
  margin: 5px;
  padding: 8px 15px;
  color: #48cba4;
  border: 1px solid #48cba4;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}
.page-section .content-detail .nav-details .btn:hover {
  background-color: #48cba4;
  color: #fff;
}
.page-section .content-detail .parallax {
  position: absolute;
}
.page-section .content-detail #shape1, .page-section .content-detail #shape2, .page-section .content-detail #shape3, .page-section .content-detail #shape4, .page-section .content-detail #shape5, .page-section .content-detail #shape6, .page-section .content-detail #shape7 {
  opacity: 0.7;
}
.page-section .content-detail #shape1 {
  bottom: 20px;
  right: 500px;
}
.page-section .content-detail #shape2 {
  top: 75px;
  right: 581px;
}
.page-section .content-detail #shape4 {
  top: 40px;
  left: 290px;
}
.page-section .content-detail #shape5 {
  bottom: 138px;
  left: 170px;
}
.page-section .content-detail #shape3 {
  top: 300px;
  right: 250px;
}
.page-section .content-detail #shape6 {
  top: 220px;
  right: 100px;
}
.page-section .content-detail #shape7 {
  bottom: 10px;
  right: 10px;
}

/* Responsive css */
@media (max-width: 768px) {
  .page-section .content-detail {
    padding: 0 15px;
  }
  .page-section .content-detail .sub-title {
    font-weight: 700;
    font-size: 30px;
  }
  .page-section .content-detail #shape1, .page-section .content-detail #shape2, .page-section .content-detail #shape3, .page-section .content-detail #shape4, .page-section .content-detail #shape5, .page-section .content-detail #shape6, .page-section .content-detail #shape7 {
    opacity: 0.5;
  }
  .page-section .content-detail #shape2 {
    right: 150px;
  }
}
@media (max-width: 575px) {
  .page-section .content-detail #shape1, .page-section .content-detail #shape2, .page-section .content-detail #shape3, .page-section .content-detail #shape4, .page-section .content-detail #shape5, .page-section .content-detail #shape6, .page-section .content-detail #shape7 {
    opacity: 0.3;
  }
  .page-section .content-detail #shape4 {
    top: 30px;
    left: 100px;
  }
  .page-section .content-detail #shape6 {
    top: 130px;
    right: 50px;
  }
  .page-section .content-detail #shape5 {
    bottom: 25px;
    left: 60px;
  }
  .page-section .content-detail #shape1 {
    display: none;
  }
  #timer {
    padding: 20px 0;
  }
  #timer .date-box {
    margin: 8px;
    padding: 10px;
    width: 75px !important;
    height: 75px !important;
    font-size: 18px;
    border-radius: 15px !important;
  }
  #timer .date-box .text {
    font-size: 11px !important;
  }
  .nav-details form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 480px) {
  .page-section .content-detail {
    padding: 0 15px;
  }
  .page-section .content-detail .sub-title {
    font-weight: 700;
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  .page-section .content-detail #shape1, .page-section .content-detail #shape2, .page-section .content-detail #shape3, .page-section .content-detail #shape4, .page-section .content-detail #shape5, .page-section .content-detail #shape6, .page-section .content-detail #shape7 {
    opacity: 0.2;
  }
  .page-section .content-detail #shape2 {
    display: none;
  }
}



@media (prefers-color-scheme: dark) {
	body{
	  background-color: #252525;
	}
	
.sub-title,.hero-counter-desc{
  color: #fff !important;
}
}



@media (prefers-color-scheme: light) {
	.page-section{
	  background-image: url("../images/background-3.png");
	}
}
/*# sourceMappingURL=coming-soon-page.css.map */
